In [4]:
# import matplotlib.pyplot as plt

# # Data for the chart
# labels = ['Apples', 'Bananas', 'Cherries', 'Dates']
# values = [10, 15, 7, 12]

# # Create the figure and axis
# fig, ax = plt.subplots()

# # Plot the bar chart
# ax.bar(labels, values)

# # Set title and labels
# ax.set_title('Fruit Quantities')
# ax.set_xlabel('Fruit')
# ax.set_ylabel('Quantity')

# # Show the plot
# plt.show()

import pandas as pd
import numpy as np
import seaborn as sns

# data = pd.read_csv("C:\Users\DELL 5520\Desktop\My Data Portfolio Projects\EDA with Python Project\students.csv")
data = pd.read_csv("C:/Users/DELL 5520/Desktop/My Data Portfolio Projects/EDA with Python Project/students.csv")

#1 understanding the data
data.head()

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No